//
   Created by Brendan Betts on 3/1/14.
   Email: brendan.betts@live.com

html
    head
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/index.css")
        title Fidget Remote - A Twitch TV Remote
    body
        include partials/nav.jade
