//
   Created by Brendan Betts on 3/1/14.
   Email: brendan.betts@live.com

html
    head
        include partials/head.jade
    body
        include partials/nav.jade

        section(id="about")
            .container
                h3 About
                p Fidget Remote is a Twitch.tv remote that will allow you to watch your favourite streams from wherever you want.
                p It's simple; just sync a remote device to your main screen and you can start searching for a stream to watch.