//
   Created by Brendan Betts on 3/19/14.
   Email: brendan.betts@live.com


html
    head
        include partials/head.jade
        link(href="/css/search.css" rel="stylesheet")
    body
        include partials/nav.jade
        section(id="search")
        .container
            h2 Search for a stream to watch
