//
   Created by Brendan Betts on 3/1/14.
   Email: brendan.betts@live.com

html
    head
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="/css/splash.css")
    body
        .container

            span.logo &#128187;
            h1.name
                span.thin Fidget
                span.thick Remote

            span.subtitle Fidget Remote is currently under construction.
                br
                |Check back in a bit.


            section(id="social")
                a.twitter-follow-button(href='https://twitter.com/FidgetRemote', data-show-count='false', data-lang='en') Follow @FidgetRemote
                script
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
