html(ng-app='fidgetStream')
    head
        title Fidget Remote
        meta(name="viewport" content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/bootswatch/slate/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container(ng-controller='searchController')
            h1 Fidget Remote
                small  A Twitch.tv Remote

        script(src="/angular/angular.min.js")
        script(src="/angular-socket-io/socket.js")
        script(src="/socket.io-client/dist/socket.io.js")
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src="/app.js")