html(ng-app='fidgetStream')
    head
        title Fidget Remote
        meta(name="viewport" content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/bootswatch/slate/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container(ng-controller='screenController')
            h1 Fidget Remote
                br
                small  A Twitch.tv Remote
            div(ng-show='loaded')
                screen(channel='channel')

        script(src="/angular/angular.min.js")
        script(src="/angular-socket-io/socket.js")
        script(src="/socket.io-client/dist/socket.io.js")
        script(src='/ngInfiniteScroll/ng-infinite-scroll.js')
        script(src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
        script(src='/app.js')