//
   Created by Brendan Betts on 11/17/13.

doctype 5
html(ng-app='fidgetStream')
   head
        title Fidget Remote
        meta(name="viewport" content="width=device-width, initial-scale=1.0" )
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/bootswatch/slate/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
   body
       .container(ng-controller='searchController')
           h1 Fidget Remote
                br
                small  A Twitch.tv Remote
           div(class='col-lg-12 col-sm-12' infinite-scroll='loadNext()' infinite-scroll-scroll-distance='4' infinite-scroll-diabled='loading')

               .input-group
                   input(type='text' class='form-control' placeholder='Search' ng-model='query')
                   span(class='input-group-btn')
                       button(class='btn btn-default' type='button' ng-click='search()')
                           span(class='glyphicon glyphicon-search')
                           span()  Search
               div(id='search-results' )
                   twitch-stream(class="col-lg-4 game-result" ng-repeat="stream in streams" stream="stream" stream-click='play' )
               div(class='clear')
           div(ng-show='loading' class='col-lg-12 col-sm-12 loading')
               h2(class='text-center') Loading more streams...

       script(src='/jquery/jquery.min.js')
       script(src="/angular/angular.min.js")
       script(src="/angular-socket-io/socket.js")
       script(src="/socket.io-client/dist/socket.io.js")
       script(src='/ngInfiniteScroll/ng-infinite-scroll.js')
       script(src="/app.js")