.container {
    padding-top: 40px;
}

#search-results {
    margin-top: 20px;
}

.thumbnail{
    margin-bottom:0px;
    cursor: pointer;
}

.stream{
    margin-bottom:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-status{
    display:inline-block;
    text-overflow: ellipsis;
}

.playing{
    margin-bottom:5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear{
    clear: both;
}

